<html>
<head>
  <title>Compare Silver Prices and Premiums In Canada, Best Physical Silver Deals in Canada</title>

  <link rel="icon" href="images/illu.jpg">
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container" style="padding:20px">
   <div class="card cardbg-light">
    <div class="card-header">
      <h3><btn class="btn btn-dark btn-lg">Current Silver Price: {{silverPrice}} $CA</btn></h3>
    </div>
    <div class="card">
      <div class="card-body">
        <h6>
          Compare Silver Prices Canada maintains a list of the best silver dealers serving the Canadian region. Find the lowest silver premiums at all time.
        </h6> 
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-dark">
         <tr>
          <th scope="col">Dealers</th>
          <th scope="col">Shipping</th>
          <th scope="col">1 oz Canadian Maple Leaf</th>
          <th scope="col">10 oz Royal Canadian Mint Bar</th>
          <th scope="col">100 oz Royal Canadian Mint Bar</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2"></td>
        <td><img height="128" width="128" src="images/rcm1oz.jpg" /></td>
        <td><img height="128" width="128" src="images/rcm10oz.jpg" /></td>
        <td><img height="128" width="128" src="images/rcm100oz.png" /></td>
      </tr>
      {{#retailers}}
      <tr scope="row">
        <td>
          <a target="_blank" href="{{dealer_url}}"><img class="dealer-img" width="300" height="70" src="{{logo_url}}" title="{{name}}" /></a>
        </td>
        <td>{{shipping}}</td>
        {{#min1oz}}
        <td class="selected-td">
          <div><b>{{_1oz}}</b></div>
          <div class="ratio-text">+{{_1oz_ratio}}% over spot</div>
        </td>
        {{/min1oz}}
        {{^min1oz}}
        <td>
          <div><b>{{_1oz}}</b></div>
          <div class="ratio-text">+{{_1oz_ratio}}% over spot</div>
        </td>
        {{/min1oz}}
        {{#min10oz}}
        <td class="selected-td">
          <div><b>{{_10oz}}</b></div>
          <div class="ratio-text">+{{_10oz_ratio}}% over spot</div>
        </td>
        {{/min10oz}}
        {{^min10oz}}
        <td>
          <div><b>{{_10oz}}</b></div>
          <div class="ratio-text">+{{_10oz_ratio}}% over spot</div>
        </td>
        {{/min10oz}}
        {{#min100oz}}
        <td class="selected-td">
          <div><b>{{_100oz}}</b></div>
          <div class="ratio-text">+{{_100oz_ratio}}% over spot</div>
        </td>
        {{/min100oz}}
        {{^min100oz}}
        <td>
          <div><b>{{_100oz}}</b></div>
          <div class="ratio-text">+{{_100oz_ratio}}% over spot</div>
        </td>
      </tr>
      {{/min100oz}}

      {{/retailers}}
    </table>
  </div>
</div>
</div>
<script>
  setTimeout(function() {location.reload()},65000)
</script>
</body>
</html>