.table td {
	text-align: center;
	vertical-align: middle;   
}

.table thead th {
	vertical-align: top;
	text-align: center;
}

.dealer-img {
	padding: 5px;
	/*border: 2px solid black;*/
}

.ratio-text {
	color: green;
	font-size: 12px;
}